# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm, IntelliJ (for those who use JetBrains' IDEs)
.idea/

# VS Code (if used occasionally for editing)
.vscode/

# neovim
*.swp
*.swo
*.swn

# Virtual environment
.env
.venv
env/
venv/
localEnv/

# Datasets
*.png
*.fits
*.tar
*.csv
data/raw/csv_extract/galaxy/*.csv
data/raw/csv_extract/star/*.csv
data/raw/csv_extract/qso/*.csv

!notebooks/*.png
!notebooks/spectral_plots/*.png
# Add only the final confusion matrix images after cleanup dont you push the 400 or so images
#!notebooks/starClassifierModel/star_classifier_analysis_*/*.png

# Operating system files
.DS_Store
*.db

# Development tools
*.pylintrc
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/

#downloaded files
data/cifar-10-batches-py/
data/cifar-10-python.tar.gz

# processed files
data/processed/

# Manual ignore files
logs/data_fetch_logs/star_class_data_aggregate_*
logs/data_processing_logs/star_spectra_augmenter_2024-04-12_09-13-28.log
logs/data_processing_logs/star_spectra_augmenter_2024-04-12_09-14-27.log
logs/data_processing_logs/star_spectra_augmenter_2024-04-12_09-12-25.log
logs/data_processing_logs/star_spectra_augmenter_2024-04-11_16-34-46.log

models/star_model_*
